<% if !@shopping_cart_item.nil? && @shopping_cart_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @shopping_cart_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @shopping_cart_items.size == 0 %>
  <p class="text-center">
    Seu carrinho está sem produtos.  Por favor <%= link_to "volte", root_path %> e adicione produtos.
  </p>
<% else %>
  <% @shopping_cart_items.each do |shopping_cart_item| %>
    <%= render 'shopping_carts/shopping_cart_row', produto: shopping_cart_item.produto, shopping_cart_item: shopping_cart_item, show_total: true %>
  <% end %>
  <h4 class="text-right">Total: <span style="color: green">R$
    <%= current_shopping_cart.total %>
  </span></h4>
    <%= button_to " Finalizar compra", payments_path, class:"btn btn-success btn-lg", style:"float: right;"  %>
    <%= button_to " Comprar mais", root_path, class:"btn btn-primary btn-lg", style:"float: right;", method: :get %>
<% end %>
