<% if produto.quantidade == 0 %>
  <div class="input-group-btn">
    <%= button_to "Avise-me quando disponível", notifications_path, remote: false, class: "btn btn-primary", params: { produto_id: produto.id } %>
  </div>
<% else %>
  <%= form_for order_item do |f| %>
    <!-- <h4 class="text-right"><span style="background-color: white"> Preço unitário: <span style="color :green">R<%= number_to_currency produto.valor %></span></h4> -->
      <div class="input-group">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: produto.quantidade %>
        <div class="input-group-btn">
          <%= f.hidden_field :produto_id, value: produto.id %>
          <%= f.submit "Adicionar no Carrinho", class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
<% end %>
