<div class="btn-group btn-group-justified">
  <a href="produtos#index" class="btn btn-primary", style="color: white">Todos os produtos</a>
  <%= link_to 'Salgados', produtos_path(department_id: Department.find_by(name: 'Salgados')), class: 'btn btn-primary', style: 'color: white' %>
  <%= link_to 'Lanches', produtos_path(department_id: Department.find_by(name: 'Lanches')), class: 'btn btn-primary', style: 'color: white' %>
  <%= link_to 'Refeições', produtos_path(department_id: Department.find_by(name: 'Refeições')), class: 'btn btn-primary', style: 'color: white' %>
  <%= link_to 'Bebidas', produtos_path(department_id: Department.find_by(name: 'Bebidas')), class: 'btn btn-primary', style: 'color: white' %>
  <%= link_to 'Doces', produtos_path(department_id: Department.find_by(name: 'Doces')), class: 'btn btn-primary', style: 'color: white' %>
</div>

<p id="notice"><%= notice %></p>

<% if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>

<!-- <div class=“form-group”>
 <%= select_tag "Departamento", options_from_collection_for_select(@departments, "id", "name")%>
</div> -->

<span style= "text-align: center"><h2>Todos os produtos</h2></span><br><br>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Opção</th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= image_tag(produto.image, size: '100x100', class:"img-rounded") %></td>
        <td><%= produto.nome %></td>
        <td>R$<%= produto.valor %></td>
        <td><%= produto.quantidade %></td>
        <td><%= link_to 'Ver mais', produto %></td>
        <td><%= render "produto_row", produto: produto, order_item: @order_item %><td>
        <td><%#= link_to image_tag("/image/plussymbol.png"), produto%></td>
        <td><%#= link_to image_tag("/image/minusymbol.png"), produto%></td>
      </tr>
    <% end %>
  </tbody>
</table>
