<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @produto.valor %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantidade %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>


<%= link_to produtos_path do %>
  <i class="fa fa-6 fa-home" aria-hidden="true"></i> Voltar
<% end %>
