<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @aluno.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @aluno.password %>
</p>

<%= link_to 'Editar', edit_admin_user_path(@aluno) %> |

<%= link_to admin_users_path do %>
  <i class="fa fa-6 fa-home" aria-hidden="true"></i> Voltar
<% end %>
