<!DOCTYPE html>
<html>
  <head>
    <title>MyVersion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>ShoppingCartExample</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% if request.ssl? %>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <% else %>
      <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= nav_bar brand:"MAC-FEI",  brand_link: root_url do %>
    <ul class="navbar-for navbar-right">
    <% if user_signed_in? %>
      <li>
      Login com <strong><%= current_user.email %></strong>.
      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |

      <%= link_to(shopping_cart_path, class: "btn btn-warning shopping-cart-button") do %>
        <i class="fa fa-shopping-cart"></i> Carrinho
      <% end %>

      <%= link_to(destroy_user_session_path, :method => :delete, class: "btn btn-danger sign-out-button")do  %>
        <i class="fa fa-sign-out"></i> Sair
      <% end %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path, class: "btn btn-default")  %>
      <%= link_to "Cadastre-se", new_user_registration_path, :class => 'navbar-link'  %> |
      </li>
    <% end %>
  </ul>
 <% end %>



 <!-- <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <!-- <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "My Store", root_path %></h1>
      </div>

    </div> -->
    <hr>
    <%= yield %>
    </div>
  
  </body>
</html>
