<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/> -->
    <title>MyVersion</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>ShoppingCartExample</title>
    <% if request.ssl? %>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <% else %>
      <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="hidden-xs">
    <%= nav_bar brand:"MAC-FEI",  brand_link: root_url do %>
    <ul class="navbar-for navbar-right">
    <% if user_signed_in? %>
      <li>
      Login com <strong><%= current_user.email %></strong>.
      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |

      <%= link_to(shopping_cart_path, class: "btn btn-warning shopping-cart-button") do %>
        <i class="fa fa-shopping-cart"></i> Carrinho
      <% end %>

      <%= link_to(destroy_user_session_path, :method => :delete, class: "btn btn-danger sign-out-button")do  %>
        <i class="fa fa-sign-out"></i> Sair
      <% end %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path, class: "btn btn-default")  %>
      <%= link_to "Cadastre-se", new_user_registration_path, :class => 'navbar-link'  %> |
      </li>
    <% end %>
  </ul>
 <% end %>
    <hr>
    <%= yield %>
    </div>
  </div>

  <div class="hidden-lg">
    <%= nav_bar brand:"MAC-FEI",  brand_link: root_url do %>
    <br><br><ul class="nav navbar-nav navbar-left">
    <% if user_signed_in? %>
      <li>
      <br>Login com <strong><%= current_user.email %></strong>.
      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>

      <%= link_to(shopping_cart_path, class: "btn btn-warning btn-xs shopping-cart-button") do %>
        <i class="fa fa-shopping-cart"></i> Carrinho
      <% end %>

      <%= link_to(destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-xs sign-out-button")do  %>
        <i class="fa fa-sign-out"></i> Sair
      <% end %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary">Selecione a categoria</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="produtos?department_id=8">Promoções</a></li>
          <li><a href="produtos?department_id=4">Salgados</a></li>
          <li><a href="produtos?department_id=5">Lanches</a></li>
          <li><a href="produtos?department_id=6">Refeições</a></li>
          <li><a href="produtos?department_id=3">Bebidas</a></li>
          <li><a href="produtos?department_id=7">Doces</a></li>
          <li><a href="produtos">Todos os produtos</a></li>
        </ul>
      </div>

      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path, class: "btn btn-default")  %>
      <%= link_to "Cadastre-se", new_user_registration_path, :class => 'navbar-link'  %> |
      </li>
    <% end %>
  </ul>
 <% end %>
    <hr>
    <%= yield %>
    </div>
  </div>
  </body>
</html>
